@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 1910px;
    height: 975px;
    display: flex;
}

.left {
    width: 1155px;
    height: 975px;
    background-color: #DE6F2C;
    padding: 12px;
    box-sizing: border-box;
}

.left__row {
    width: 1125px;
    height: 156px;
    border: 2px solid #DE152C;
    border-bottom: 0px;
    display: flex;
    justify-content: space-between;
}

.left__row:last-child {
    border-bottom: 2px solid #DE152C;
}

.left__row:nth-child(2) {
    border: 2px solid white;
}

.left__row:nth-child(3) {
    border-top: 0px;
}

.left__row:nth-child(2) .row__title,
.left__row:nth-child(2) span,
.left__row:nth-child(2) .row__info-container,
.left__row:nth-child(2) .info-container__top,
.left__row:nth-child(2) .info-container__bottom {
    color: white;
    border-color: white;
}

.left__row:nth-child(2) .info-container__bottom {
    background-color: white;
    color: #DE6F2C;
}

.row__title {
    width: 50px;
    height: 160px;
    writing-mode: vertical-rl;
    font-size: 20px;
    font-weight: 600;
    color: #DE152C;
    border-left: 2px solid #DE152C;
    transform: rotate(180deg);
}

.row__title,
.row__info-container,
.info-container__top,
.info-container__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left__row span {
    font-size: 120px;
    font-weight: 600;
    color: #DE152C;
    align-self: center;
    justify-self: start;
    margin-left: 20px;
}

.row__info-container {
    width: 280px;
    border-left: 2px solid #DE152C;
}

.info-container__top {
    height: 80px;
    width: 100%;
    border-bottom: 2px solid #DE152C;
    color: #DE152C;
    font-size: 20px;
    font-weight: 600;
}

.info-container__bottom {
    height: 80px;
    background-color: #DE152C;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    font-weight: 500;
    color: #DE6F2C;
    margin: 18px;
    box-sizing: border-box;
}

.center {
    height: 100%;
    width: 65px;
    display: flex;
    flex-direction: column;
}

.center__top,
.center__bottom {
    display: flex;
    align-items: center;
    padding-top: 20px;
    font-size: 35px;
    font-weight: 600;
}

.center__top {
    height: 50%;
    width: 65px;
    background-color: #FF00FF;
    writing-mode: vertical-lr;
}

.center__bottom {
    height: 50%;
    width: 65px;
    background-color: #1900FF;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.center__bottom span {
    transform: rotate(90deg);
}

.center__mark img {
    width: 65px;
    height: 65px;
    position: absolute;
    top: 454px
}

.right {
    background-color: #FF0400;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.right header {
    height: 75px;
    font-size: 35px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.right main {
    height: 885px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
}

.right__1st-column,
.right__2nd-column {
    border-top: 2px solid black;
    margin-right: 10px;
    width: 320px
}

.title {
    font-size: 35px;
    font-weight: 500;
}

.content {
    font-size: 20px;
    font-weight: 500;
}